 .missions-container {
  padding: 0.5rem;
}

td, th {
  border: 1px solid #757575;
}
  .status > button {
  font-size: 12px;
  margin-left: 1rem;
  border-radius: 3px;
}

td > button {
  margin-left: 1rem;
  font-size: 15px;
  border-radius: 3px;
}

td > p {
  padding: 0.3rem;
}
.column-title {
  font-weight: bold;
}

.description {
 width: 50%;
  font-size: 12px;
}

.row-description:nth-child(odd) {
  background-color: #afafafcb; /* Choose your preferred background color */
}

.mission-list {
  border-left: 1px solid #000;
}

/* Add a left border to the table header */
.column-title {
  border-left: 1px solid #000;
}


