@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&family=Space+Grotesk:wght@300;400;500;600;700&family=Titan+One&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(111, 111, 111, 0.6);
  width: 85%;
  margin: 0 auto;
}


.logo {
  display: flex;
  justify-content: space-around;
  width: 350px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 20px;
  color: #0290ff;
}

a:hover {
  cursor: pointer;
}

.My-profile {
  border-left: 3px solid rgba(111, 111, 111, 0.6);
  padding-left: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  color: rgb(19, 18, 18);
  font-size: 26px;
}

.view:hover, .My-profile:hover {
  text-decoration: underline;
  color: blue;
}
