.profile-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 85%;
  margin: auto;
  gap: 20px;
  margin-top: 1rem;
}

h2 {
  font-size: 25px;
}

.mission-container {
  margin-left: 100px;
  width: 40%;
  min-height: 100px;
}

.list-group {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}

ul > .list-group-item {
  font-weight: bold;
  font-size: 20px;
}

.Rockets {
  margin-left: 34px;
  min-height: 100px;
}

.reserved-list {
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}

.reserved-item {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-top: 15px;
}
