.rocket-container {
  margin-left: 150px;
}

.rocket-elements {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
}

.rocket-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.reserved-description {
  background-color: lightblue;
  padding: 0 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.description {
  padding: 15px 0;
}

.reserve-button {
  background-color: rgba(0, 145, 225, 0.938);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  border: 1 px solid #ccc;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.reserve-button:hover,
.cancel-button:hover{
  opacity: 0.8;
} 